.custom-select {
  border: 1px solid #ced4da;
  border-radius: 6px;
  background-color: #f8f9fa;
  transition: all 0.2s ease-in-out;
}

.custom-select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  background-color: #fff;
}

.scrollable-div {
  max-height: 40vh;   
  overflow-y: auto;   
  overflow-x: hidden; 
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box; 
}

