/* Layout container principal */
:host {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Container da sidebar */
.sidebar-container {
  width: 280px;
  min-width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #212529;
  z-index: 100;
}

/* Container do conteúdo principal */
.main-content {
  flex: 1;
  margin-left: 280px;
  width: calc(100% - 280px);
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

/* Wrapper do conteúdo */
.content-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Responsividade para telas menores */
@media (max-width: 1366px) {
  .sidebar-container {
    width: 240px;
    min-width: 240px;
  }
  
  .main-content {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}

@media (max-width: 1024px) {
  .sidebar-container {
    width: 200px;
    min-width: 200px;
  }
  
  .main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
