<form #formCadastro="ngForm" (ngSubmit)="onSubmit()" class="p-3">

  <div class="row g-3">

 <!-- HORÁRIO DE ATENDIMENTO (AGORA É DROPDOWN) -->
    <div class="col-12 col-md-6">
      <label for="horarioAtendimento" class="form-label">Horário de Atendimento</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-clock"></i>
        </span>

        <select
          id="horarioAtendimento"
          name="horarioAtendimento"
          class="form-select"
          [(ngModel)]="horarioAtendimento"
          required
        >
          <option value="" disabled selected>Selecione um horário</option>

          <option *ngFor="let h of horariosDisponiveis"
                  [value]="h.diaSemana + ' — ' + h.horaInicio + ' às ' + h.horaFim">
            {{ h.diaSemana }} — {{ h.horaInicio }} às {{ h.horaFim }}
          </option>

        </select>
      </div>
    </div>

    <!-- PACIENTE -->
    <div class="col-12 col-md-6">
      <label for="paciente" class="form-label">Paciente</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person"></i>
        </span>
        <select
          id="paciente"
          name="paciente"
          class="form-select"
          [(ngModel)]="paciente"
          [ngModelOptions]="{ standalone: true }"
          required
        >
          <option value="" disabled selected>Selecione um paciente</option>
          <option *ngFor="let p of listaPacientes" [ngValue]="p">
            {{ p.nome }}
          </option>
        </select>
      </div>
    </div>

    <!-- MÉDICO -->
    <div class="col-12 col-md-6">
      <label for="medico" class="form-label">Médico</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person-badge"></i>
        </span>
        <select
          id="medico"
          name="medico"
          class="form-select"
         [(ngModel)]="medico"
          (change)="onMedicoSelecionado()"
          [ngModelOptions]="{ standalone: true }"
          required
        >
          <option value="" disabled selected>Selecione um médico</option>
          <option *ngFor="let m of listaMedicos" [ngValue]="m">
            {{ m.nome }}
          </option>
        </select>
      </div>
    </div>

  </div>

  <!-- BOTÕES -->
  <div class="d-flex justify-content-between mt-4">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="fecharModal.emit()"
    >
      Cancelar
    </button>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!formCadastro.valid"
    >
      {{ id ? 'Salvar Alterações' : 'Cadastrar Consulta' }}
    </button>
  </div>
</form>
