@import "tailwindcss";

/* Reset global */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Configuração root da aplicação */
app-root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: aliceblue;
}

/* Garantir que todos os elementos respeitem o box model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
